<!-- Block-level Elements
A block-level element always starts on a new line.

A block-level element always takes up the full width available
(stretches out to the left and right as far as it can).

A block level element has a top and a bottom margin, whereas an inline element does not. -->
<!--
Here are the block-level elements in HTML:

<address><article><aside><blockquote><canvas><dd>
<div><dl><dt><fieldset><figcaption><figure><footer><form><h1>-<h6><header><hr>
<li><main><nav><noscript><ol><p><pre><section><table><tfoot><ul><video>

 -->
<!--
  ##################################################################
 Inline Elements
An inline element does not start on a new line.

An inline element only takes up as much width as necessary.

Here are the inline elements in HTML:

<a><abbr><acronym><b><bdo><big><br><button><cite>
<code><dfn><em><i><img><input><kbd><label><map><object>
<output><q><samp><script><select><small><span><strong><sub>
<sup><textarea><time><tt><var>

-->


<div id="mainDiv">
  <div class="itemDiv">
    <span>1</span>
  </div>
  <div class="itemDiv">
    <p>2</p>
  </div>
  <div class="itemDiv">
    <p>3</p>
  </div>
</div>

<!-- In this demo I will show you how to use html and css
      I will show you how the difference display values: block and inline
      Block:

      div -> is a often used as a container for other elements
      p   -> represents a paragraph

      Inline:
      span -> is an inline container used to mark up a part of a text, or a part of a document.

      F12:
      We can use the browsers developer console to inspect our web page. This will allows us
      verify that our code is doing what we want and tweek our html and css live.

      We notice that the div elements start a new line, take up the full width, and
      apply a margin.

      And we notice that our span element does not.

      CSS:
      We can now style our HTML. We will use flexbox to syle the display.

      If you would like to read up more on flexbox:
      https://css-tricks.com/snippets/css/a-guide-to-flexbox/

      We can apply attributes to our elements. For unique elements we use IDs and for
      similar elements we use classes.

      By applying the following properties to the mainDiv, the nested divs will now be arranged is a
      row.

      Since we have 3 divs here, we can apply all the same properties by adding a class attribute
      and then adding properties to that class.
-->
